{% for category in site.data.machines %}
  <h3>{{ category.title }}</h3>
  <div class="machine-list">
    {% for machine in category.machines %}
      <div class="machine {% if machine.up == true %}up{% elsif machine.up == false %}down{% else %}other{% endif %}">
        <a href="{{ machine.sop }}">
          <img src="{{ site.url }}/{{ machine.img }}">
	  <b>{{ machine.name }}</b>
	  <br/>
        </a>
	{% unless machine.nickname == blank %}
	  nickname "{{ machine.nickname }}"
          <br/>
	{% endunless %}
	{% unless machine.log == blank %}
	  <a href="{{ machine.log }}">maintenance log link</a>
	  <br/>
	{% endunless %}
      </div>
    {% endfor %}
  </div>
{% endfor %}
