<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  
  <title>{{ page.title }}</title>
</head>
<body>

  <div class="wrapper">
    <div id="header">
      <div class="brand">
        <h1>Electronics Prototyping Lab</h1>
        <p>Center for Interconnected Devices</p>
        <p class="psu">Portland State University</p>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

  </div>

  <div id="footer">
    <div class="site-info">
      <a class="totop" href="#">Back to top</a>
      <p>
        Read the <a href="https://github.com/psu-epl/psu-epl.github.com/wiki">EPL wiki</a>
      </p>
      <p>
        Visit our <a href="https://github.com/psu-epl">github page</a>
      </p>
    </div>
  </div>
</body>
</html>
