<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,greek,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  {% if page.numbersections == true %}
  <link rel="stylesheet" type="text/css" href="/assets/numbersections.css">
  {% endif %}
  <link rel="icon" href="{{ site.url }}/favicon.ico" type="image/x-icon">


  <title>{{ page.title }}</title>
</head>
<body>
  <div class="wrapper">
    <div id="header">
      <!-- div class="brand" style="display: flex; justify-content: center;"-->
      <div class="brand">
	<a href="{{ site.url }}"><h1 class="nonumber">Electronics Prototyping Lab</h1></a>
        <p align="right">at <a class="psu" href="http://www.pdx.edu/">Portland State University</a></p>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

  </div>

  <div id="footer">
    <div class="container" >
      <div class="site-info" style="overflow: hidden;">
        <table width=100% style="margin-left: auto; margin-right: auto;">
          <tr>
            <th>
              <div align="left">
                <!-- left column-->
                <a href="#">Back to top</a> <br/>
                <a class="home" href="{{ site.url }}">EPL Home</a> <br/>
                <a href="{{ site.url }}/siteTree.html">Site Tree<a><br/>
                <a href="https://github.com/psu-epl">GitHub Organization</a><br/>
	      </div>
            </th>
	    <th>
        <div align='left'>
            <pre id="footerCenterColumn"></pre>
        </div>
        <div align='center'>
            <form onsubmit="duckSearch()" action="javascript:void(0)">
                <input id="searchField" type="text" value="" placeholder="Search via DuckDuckGo...">
                <button type='submit'>GO</button>
            </form>
        </div>
	    </th>
            <th>
              <div align="right">
                <!-- right column-->
                <a href="{{ site.url }}/doc">Lab Documentation</a> <br/>
                <a href="{{ site.url }}/doc/contributing">Style Guide</a> <br/>
                <a href="https://github.com/psu-epl/psu-epl.github.com/edit/master/{{ page.path }}">Edit This Page</a>
                {% assign authorList = page.author | split: "," %}
                {% assign alistSize = authorList | size %}
                {% if alistSize == 1 %}
                  <br/> Author: {{ page.author }}
                {% elsif alistSize > 1 %}
                  <br/> Authors:<br/>{{ authorList | join: "<br/>" }}
                {% endif %}
              </div>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
<script type="text/javascript" src="/functions.js"></script>
<script>
pages_fxn = function(pages, otherArgs){
    // note: Everything requiring the `pages` object must happen inside this function.
    console.log('here is the JSON response: ')
    console.log(pages); // should be a JS array of the site pages at this point

    // evaluate the parent/child/sibling information for each page
    censoredPages = censorPages(pages)
    pages = censoredPages; // avoids scope fuckery with censorPages()
    var rootIndex = linkChildren(pages);
    console.log('pages is: ');
    console.log(pages);

    // figure out which page we're on
    var myInd = -1;
    console.log('I think I am on {{ page.url }}.');
    for (i in pages){
        page = pages[i];
        if (page.url == '{{ page.url }}' ){ // check if this is the url of the current page
            myInd = i;
            console.log('I found my page url: '+page.url+' at index '+myInd);
            break;
        }
    }
    if (myInd == -1){
        console.debug('I could not find the page I am on.');
    }
    page = pages[myInd];

    // use the parent/child/sibling relations to build a JS object with the same hierarchy as the site
    siteTree = getRelations(myInd, pages, depth = 0, maxdepth = 1);
    console.log('siteTree is: ');
    console.log(siteTree);

    // ulTree = '<ul>'+listFromTree(siteTree, 'ul')+'</ul>';
    // create a preformatted  tree similar to the tree command in Linux
    console.log('pages[myInd] is ');
    console.log(pages[myInd]);
    parentPage = pages[pages[myInd].parentInd];
    var preTree = '';
    if (page.url != '/'){
        // preTree = '<a href="{{ parentRef }}">..</a>\n' // lol, as long as I have that info in LIQUID already...
        preTree = '<a href='+parentPage.url+'>'+parentPage.title+'</a>\n'
        preTree += "│   ⬐ you are here ⬎\n"
    }
    console.log('I am done with myParent.');
    preTree += preFromTree(siteTree, '', {pages});

    // insert the tree into this page
    document.getElementById("footerCenterColumn").innerHTML = preTree
}
useJson('/sitePages.json', null, pages_fxn);

function duckSearch() {
    var searchField = document.getElementById("searchField");
    if (searchField && searchField.value) {
        var query = escape("site:{{ site.url }} " + searchField.value);
        window.location.href = "https://duckduckgo.com/?q=" + query;
    }
}
</script>
