<!DOCTYPE html>
<html>
<head>
 <meta charset='utf-8' />
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css">
 <title>{{ page.title }}</title>
</head>
<body>

  <div class="jumbotron subhead" id="header">
    <div class="container">
      <h1>Electronics Prototyping Lab</h1>
      <p class="lead">At Portland State University</p>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="span12">

          {{ content }}

        </div>
      </div>
      <div class="row">
        <div class="span12">
          <h2>Lab Calendar</h2>
          <iframe src="https://www.google.com/calendar/embed?title=EPL%20Schedule&amp;showCalendars=0&amp;mode=WEEK&amp;height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=epl.pdx%40gmail.com&amp;color=%23875509&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="850" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <a href="#">Back to top</a><br />
      Read the <a href="https://github.com/psu-epl/psu-epl.github.com/wiki">EPL wiki</a><br />
      Visit our <a href="https://github.com/psu-epl">github page</a>
    </div>
  </div>
</body>
</html>

